<!DOCTYPE html>
<html>
<title>About</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/style.css">

<body>

<!-- !PAGE CONTENT! -->

<div class="w3-content" style="max-width:1500px;">

    <!-- Navigation bar -->
    <ul style="opacity: 0.98">
        <li><a href="/adminViewAll" style="float: left">Admin</a></li>
        <li><a href="./" style="float: left">Art</a></li>
        <li><a class="active" href="/about" style="float: left">About</a></li>
        <li><a href="/contact" style="float: left">Contact</a></li>
        <li><a href="#"
               style="color: black; text-decoration:none; font-size: 20px; float: right; padding: 16px 20px; margin-right: 10px"
               class="fa fa-shopping-basket"></a></li>
        <li><a href="#" style="color: black; text-decoration:none; font-size: 20px; float: right; padding: 16px 20px;"
               class="fa fa-heart"></a></li>
    </ul>
    <div style="width: 80%; margin: 0 auto">

        <!-- Header -->
        <header class="w3-panel w3-center" style="padding:0px 8px">
            <h1></h1>
        </header>


        <!-- Page Content-->
        <div class="w3-row-padding">
            <div class="w3-padding-64 w3-white w3-half" style="padding:5px 20px">
                <h1>About</h1>
                <h6 style="line-height: 2.0">Mary Jo Ann Torres is the woman behind Line art by Jo Torres.
                    Mary Jo has always had a great passion for drawing,
                    but never really believed that her drawings could be enjoyable to others than herself.
                    Although she has been drawing for a long time, it has not always been in the form of line art.
                    Mary Jo has tried many different styles of art before she finally fell in love with the line art
                    style.
                    In the beginning she kept her art to herself, but she has gradually become more comfortable
                    with the idea that others should be a part of her art journey.
                </h6>
                <h6 style="line-height: 2.0">In 2017, Mary Jo decided to make an Instagram, so she could share her art, not only with her friends
                    and family,
                    but also with the rest of the world. People around her slowly started to notice her art. Many has
                    bought artworks from her,
                    and people has also gotten her drawings tattooed on their bodies.
                </h6>
                <br>

            </div>
            <div class="w3-padding-64 w3-white w3-half" style="padding:5px 20px">
                <img src="img/18.jpg" alt="Girl" style="width:100%">
            </div>
            <div class="w3-panel w3-center" style="padding:50px 8px">
                <h2></h2>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer class="w3-container w3-padding-32 w3-light-grey w3-center w3-large">
        <i class="fa fa-facebook-official w3-hover-opacity"></i>
        <a href="https://www.instagram.com/_jotorres_/" class="fa fa-instagram w3-hover-opacity"></a>
        <i class="fa fa-pinterest-p w3-hover-opacity"></i>
        <i class="fa fa-twitter w3-hover-opacity"></i>

    </footer>

</div>
</body>
</html>
